.TodoList {
    background-color: #77942e;

    width: 90%;
    height: 80%;
    max-width: 650px;

    border-radius: 1.5rem;
    box-shadow: 0 0.1rem 0.2rem;

}

.TodoList ul {
    list-style-type: none;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}