.CreateTodoButton {
    width: 5rem;
    height: 5rem;

    font-size: 2.7rem;
    font-weight: 700;

    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem;

    position: fixed;
    bottom: calc(5%);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(0);
    transition: .3s ease;
}
.CreateTodoButton:hover {
    transform: rotate(180deg);
}

@media (min-width: 350px){
    .CreateTodoButton{
        bottom: calc(8%);
    }
}

@media (min-width: 630px){
    .CreateTodoButton{
        bottom: calc(9%);
    }
}

@media (min-width: 1050px){
    .CreateTodoButton{
        bottom: calc(14.5%);
    }
}