.TodoSearch {
    width: 80%;
    height: 3rem;

    margin-top: 1rem;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;

    border: none;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.3rem;
}

.TodoSearch:focus {
    outline-color: #567c7c;
}

.TodoSearch::placeholder {
    text-align: center;
    font-size: 1.2rem;
}